/* 

display flex = Deixa o elemento flexível e alinha os elementos filhos em linha.

flex-direction colunm = Alinha os elementos filhos em coluna.

justify-content = Comando para alinhar os elementos horizontalmente quando o display for flex... Mas se o flex direction for column ele alinha verticalmente.

align-items = Comando para alinhar os elementos verticalmente quando o display for flex... Mas se o flex direction for column ele alinha horizontalmente.


*/

@font-face {
    font-family: 'seasons';
    src: url('./fonts/seasons/seasons_regular.otf');
 }

 @font-face {
    font-family: 'open_sans_bold';
    src: url('./OpenSans/OpenSans-Bold.ttf');
 }

 @font-face {
    font-family: 'open_sans_extra_bold';
    src: url('./OpenSans/OpenSans-ExtraBold.ttf');
 }



/* Começando a estilização do corpo (main) do blog */

main {
    width: 100%;
    height: 80vh;
    display: flex;
    background-color: #fafad2;
}

main {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafad2;
}

.galeria-fotos {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px 0;
    border-bottom: 40vh;
}

.foto {
    background-color: #9ACD32;
    width: 13%;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'open_sans_bold';
    font-size: 20px;
    margin: 80px;
    margin-top: 8vh;
    margin-bottom: 8vh;
}


/* Término da estilização do corpo do blog */

/* Início da estilização do rodapé */

footer {
    width: 100%;
    height: 10vh;
    background-color: #6B8E23;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Archivo Black", sans-serif;
    font-size: 12px;
}


/* Término da estilização do rodapé */